h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0px; }

.career-section {
  /*.container{
	background-color: #F8F8F8;
}*/
  /*.main_header{
	font-size: 24px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.87);
	padding-top: 69px;
	padding-left: 40px;
	padding-right: 52px;
	
}*/
  /*.basic_info{
	font-size: 16px;
	line-height: 26px;
	color: rgba(0, 0, 0, 0.87);
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 52px;
	padding-bottom: 30px;


}*/ }
  .career-section p, .career-section h2 {
    margin: 0px; }
  .career-section .robi-career-full {
    background-color: #F8F8F8; }
    .career-section .robi-career-full .custom-image-left {
      padding-left: 15px; }
    .career-section .robi-career-full .custom-image-right {
      padding-right: 15px; }
    .career-section .robi-career-full .main_header {
      font-size: 24px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 69px;
      padding-left: 40px;
      padding-right: 52px; }
    .career-section .robi-career-full .basic_info {
      font-size: 16px;
      line-height: 26px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 52px;
      padding-bottom: 30px; }
  .career-section h1 {
    margin: 0px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 43px;
    font-size: 36px;
    line-height: 40px; }
  @media only screen and (max-width: 767px) and (min-width: 420px) {
    .career-section .custom-image-left {
      padding-right: 15px; }
    .career-section .custom-image-right {
      padding-left: 15px; } }
  @media only screen and (max-width: 1200px) and (min-width: 768px) {
    .career-section {
      /*.robi-career-full{
		width: 100%;
	}*/ }
      .career-section .robi-career-full .main_header {
        font-size: 15px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.87);
        padding-top: 15px;
        /*padding-left: 0px;*/
        padding-right: 34px; }
      .career-section .robi-career-full .basic_info {
        font-size: 13px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.87);
        padding-top: 8px;
        /*padding-left: 0px;*/
        padding-right: 52px;
        padding-bottom: 30px; } }
  @media (max-width: 420px) {
    .career-section h1 {
      padding-bottom: 16px;
      padding-top: 19px;
      font-size: 26px;
      line-height: 36px; }
    .career-section .custom-image-left {
      padding-right: 15px; }
    .career-section .custom-image-right {
      padding-left: 15px; }
    .career-section .main_header {
      font-size: 20px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px; }
    .career-section .basic_info {
      font-size: 20px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (max-width: 1199px) and (min-width: 987px) {
    .career-section .main_header {
      font-size: 20px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 45px;
      padding-left: 20px;
      padding-right: 20px; }
    .career-section .basic_info {
      font-size: 16px;
      line-height: 27px;
      color: rgba(0, 0, 0, 0.87);
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px; } }

/*-----------<!--Robi 4g offer Css start-->--------*/
.robi-4g-offer-section {
  /*background-color: #f8f8f8;*/ }
  .robi-4g-offer-section .robi-4g-offer-section-header {
    text-align: center;
    padding-top: 80px; }
    .robi-4g-offer-section .robi-4g-offer-section-header h1 {
      font-size: 30px;
      line-height: 38px; }
  .robi-4g-offer-section .robi-4g-offer-section-benifits {
    padding-top: 63px; }
    .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all {
      text-align: center;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all img {
        display: block;
        margin: 0 auto;
        width: 61px;
        height: 50px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h4 {
        padding-top: 23px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 20px;
        line-height: 28px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h6 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        padding-bottom: 20px;
        padding-top: 15px; }
  @media (max-width: 420px) {
    .robi-4g-offer-section .robi-4g-offer-section-header {
      text-align: center;
      padding-top: 40px; }
      .robi-4g-offer-section .robi-4g-offer-section-header h1 {
        font-size: 24px;
        line-height: 38px; }
    .robi-4g-offer-section .robi-4g-offer-section-benifits {
      padding-top: 27px; }
      .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all {
        text-align: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all img {
          display: block;
          margin: 0 auto;
          width: 49px;
          height: 41px; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h4 {
          padding-top: 22px;
          color: rgba(0, 0, 0, 0.87);
          font-size: 20px;
          line-height: 28px; }
        .robi-4g-offer-section .robi-4g-offer-section-benifits .robi-4g-offer-section-item-all h6 {
          font-size: 16px;
          line-height: 26px;
          font-weight: 300;
          padding-bottom: 26px;
          padding-top: 10px; } }
